* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i, svg {
    pointer-events: none;
}

.kick-pad, .snare-pad, .hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: rgb(56, 165, 168);
}

.kick-pad.active {
    background: rgb(18, 229, 236);
}

.snare-pad {
    background: rgb(177, 39, 66);
}

.snare-pad.active {
    background: rgb(252, 0, 50);
}

.hihat-pad {
    background: rgb(97, 93, 93);
}

.hihat-pad.active {
    background: rgb(27, 25, 25);
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hihat-track, .snare-track, .kick-track {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-top: 5rem;
}

.kick, .snare, .hihat {
    display: flex;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background: gray;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease
}

.pad {
    transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: gray;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

select {
    padding: 1rem;
    font-size: 1rem;
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}